<?xml version="1.0" encoding="utf-8" ?>
<widget>
  <category>Common.ContentManagement</category>
  <process-event-listener>Seeger.Plugins.ImageSlider.ImageSliderWidgetProcessEventListener, Seeger.Plugins.ImageSlider</process-event-listener>
  <editor>
    <auto-open>true</auto-open>
    <width>780</width>
    <height>515</height>
  </editor>
</widget>