<?xml version="1.0" encoding="utf-8" ?>
<cms>
  <security sa-login-mode="LocalOnly">
    <permissions>
      <group name="PageMgnt" display-name="{ Function.PageMgnt }">
        <permission name="View" display-name="{ Function.View }" weight="0" />
        <permission name="Add" display-name="{ Function.Add }" weight="1" />
        <permission name="Edit" display-name="{ Function.Edit }" weight="1" />
        <permission name="Delete" display-name="{ Function.Delete }" weight="1" />
        <permission name="Design" display-name="{ Function.Design }" weight="1" />
        <permission name="SEOSetting" display-name="{ Function.SEOSetting }" weight="1" />
      </group>
      <group name="FileMgnt" display-name="{ Function.FileMgnt }">
        <permission name="View" display-name="{ Function.View }" weight="0" />
        <permission name="UploadFile" display-name="{ Function.UploadFile }" weight="1" />
        <permission name="RenameFile" display-name="{ Function.RenameFile }" weight="1" />
        <permission name="DeleteFile" display-name="{ Function.DeleteFile }" weight="1" />
        <permission name="AddFolder" display-name="{ Function.AddFolder }" weight="1" />
        <permission name="RenameFolder" display-name="{ Function.RenameFolder }" weight="1" />
        <permission name="DeleteFolder" display-name="{ Function.DeleteFolder }" weight="1" />
      </group>
      <group name="RoleMgnt" display-name="{ Function.RoleMgnt }">
        <permission name="View" display-name="{ Function.View }" weight="0" />
        <permission name="Add" display-name="{ Function.Add }" weight="1" />
        <permission name="Edit" display-name="{ Function.Edit }" weight="1" />
        <permission name="Delete" display-name="{ Function.Delete }" weight="1" />
      </group>
      <group name="UserMgnt" display-name="{ Function.UserMgnt }">
        <permission name="View" display-name="{ Function.View }" weight="0" />
        <permission name="Add" display-name="{ Function.Add }" weight="1" />
        <permission name="Edit" display-name="{ Function.Edit }" weight="1" />
        <permission name="Delete" display-name="{ Function.Delete }" weight="1" />
      </group>
      <group name="SiteSetting" display-name="{ Function.SiteSetting }">
        <permission name="SiteInfo" display-name="{ Function.SiteInfo }" />
        <permission name="FrontendSetting" display-name="{ Function.FrontendSetting }" />
        <permission name="FrontendLanguage" display-name="{ Function.FrontendLanguage }" />
        <permission name="EmailSetting" display-name="{ Function.EmailSetting }" />
        <permission name="TaskQueueSetting" display-name="{ Function.TaskQueueSetting }" />
      </group>
      <group name="CustomRedirect" display-name="{ Function.CustomRedirect }">
        <permission name="View" display-name="{ Function.View }" weight="0" />
        <permission name="Add" display-name="{ Function.Add }" weight="1" />
        <permission name="Edit" display-name="{ Function.Edit }" weight="1" />
        <permission name="Delete" display-name="{ Function.Delete }" weight="1" />
      </group>
      <group name="System" display-name="{ Function.System }">
        <permission name="DbBackup" display-name="{ Function.DbBackup }" weight="1" />
        <permission name="Logs" display-name="{ Function.Logs }" weight="1" />
      </group>
      <group name="PluginMgnt" display-name="{ Function.PluginMgnt }">
        <permission name="View" display-name="{ Function.View }" weight="0" />
        <permission name="Install" display-name="{ Function.InstallPlugin }" weight="1" />
        <permission name="Uninstall" display-name="{ Function.UninstallPlugin }" weight="1" />
      </group>
    </permissions>
  </security>
  <file>
    <allowed-upload-paths>/Files, /App_Data/Videos</allowed-upload-paths>
    <denied-extensions>.exe,.aspx,.cs,.vb,.bat,.com</denied-extensions>
  </file>
  <tinymce>
    <fonts>
      <add culture="zh-CN" fonts="新宋体=新宋体;楷体=楷体;黑体=黑体;仿宋=仿宋;微软雅黑=微软雅黑;Arial=arial,helvetica,sans-serif;Comic Sans MS=comic sans ms,sans-serif;Courier New=courier new,courier;Consolas=consolas;Verdana=verdana,geneva" />
    </fonts>
  </tinymce>
  <dev>
    <show-dev-panels>false</show-dev-panels>
  </dev>
</cms>