[Dd]ebug/

[Rr]elease/

[Bb]in/

[Oo]bj/

TestResults

*.suo

*.user


src/Seeger.Web/App_Data/logs/

src/Seeger.Web/App_Data/Seeger.sqlite

src/Seeger.Web/App_Data/InstalledPlugins.txt

src/Seeger.Web/App_Data/Assemblies/

src/Seeger.Web/Files
src/Seeger.Web/App_Data/Buckets/
/src/Seeger.Web/App_Data/Qiniu
PublishProfiles
