<?xml version="1.0"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="sig" assembly="Seeger.Core" namespace="Seeger.Web.UI" />
      </controls>
      <namespaces>
        <add namespace="Seeger"/>
        <add namespace="Seeger.Web"/>
        <add namespace="Seeger.Web.UI"/>
      </namespaces>
    </pages>
  </system.web>
</configuration>
