.fm-toolbar {
    background: #eee;
    padding: 5px;
    height: 22px;
}
    .fm-toolbar button {
        margin-right: 2px;
        min-width: 100px;
    }
.fm-toolbar-primary {
    float: left;
}
.fm-toolbar-secondary {
    float: right;
}
.fm-breadcrumb {
    display: block;
    padding: 5px 0;
}
    .fm-breadcrumb .fm-path-segment {
        display: inline-block;
    }
    .fm-breadcrumb .divider {
        display: inline-block;
        margin: auto 2px;
        color: #999;
    }
.fm-empty-item td {
    text-align: center;
    padding: 30px 0;
}
.fm-filegrid {
    overflow: auto;
    clear: both;
}
.fm-filegrid .datatable tr:hover td {
    background: none !important;
}
.fm-item.fm-hover {
    background: #eee;
}
.fm-item.fm-selected {
    background: #B5DEF3;
}
.fm-filesize-header {
    width: 100px;
}
.fm-filesize {
    text-align: center;
    color: #999;
}
