<?xml version="1.0" encoding="utf-8" ?>
<plugin>
  <display-name>{ ImageSlider.PluginDisplayName }</display-name>
  <description>{ ImageSlider.PluginDescription }</description>
  <management>
    <management-menu>
      <menu title="Sliders" url="Admin/Sliders.aspx" function="ImageSlider" operation="ViewSliders" />
    </management-menu>
  </management>
  <permissions>
    <group name="ImageSlider" display-name="ImageSlider.PluginDisplayName">
      <permission name="ViewSliders" display-name="View sliders" weight="0" />
      <permission name="DeleteSlider" display-name="Delete slider" weight="1" />
      <permission name="AddSliderItem" display-name="Add slider item" weight="1" />
      <permission name="EditSliderItem" display-name="Edit slider item" weight="1" />
      <permission name="DeleteSliderItem" display-name="Delete slider item" weight="1" />
    </group>
  </permissions>
</plugin>