<?xml version="1.0" encoding="utf-8" ?>
<widget>
  <category>Common.ContentManagement</category>
  <process-event-listener>Seeger.Plugins.RichText.WidgetProcessEventListener, Seeger.Plugins.RichText</process-event-listener>
  <editor>
    <auto-open>true</auto-open>
    <width>820</width>
    <height>550</height>
  </editor>
</widget>