<?xml version="1.0" encoding="utf-8" ?>
<plugin>
  <display-name>{ Analytics.PluginDisplayName }</display-name>
  <management>
    <management-menu>
      <menu title="{ Menu.Analytics }" function="Analytics" operation="EditAnalytics" url="Admin/Analytics.aspx" />
    </management-menu>
  </management>
  <permissions>
    <group name="Analytics" display-name="Analytics.PluginDisplayName">
      <permission name="EditAnalytics" display-name="Function.EditAnalytics" weight="1" />
    </group>
  </permissions>
</plugin>